@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

}

.noteableHeader li{
    display: inline-block;
    white-space: nowrap;
    padding: 5px 8px 0px 5px;
}

.noteableHeader li a{
   text-decoration: none;
   color: black;
}
.noteableHeader{
    margin-left: 163px;
    margin-right: 163px;
}
#subscribe{
    padding-left: 35px;

}
#subscribe::after{
    content: "";
    border-bottom: 4px solid #FF3A70ed;
    width: 80px;
    display: block;
 
 }
 
 



/* ******************************************************SearchBar88888888888888888888888888888888888888888888 */

#searchbar{
    color: white;
    font-size: medium;
    display: block;
    float:right;
    margin-right: 270px;
    margin-top: 30px;
}

/* ****************************************************mainheader********************************************** */
#head2{
    margin-top: 5px;
    height: 18vh;
    background-color:#2D0023;

}




#logo img{
    height: 15vh;
    object-fit: cover;
    float: left;
    margin-left: 160px;
    cursor: pointer;
}

#mainheader li{
    font-weight: bold;
    color: white;
    display: inline-block;
    float: right;
    padding-left: 15px;
    margin-top: 50px;
    cursor: pointer;
}

.myHeader li{
    margin-right: 300px;
}


#mainheader li:hover{
    border-bottom: 2px solid#FF3A70;
}

#left-p{
    margin-left: 160px;
    display: inline-block;

}

#right-p{
    float: right;
    margin-right: 270px;
    display: inline-block;
}

#left-right{
    margin-top: 5px;
}
 
p i{
    padding-right: 5px;
}

p i:hover{
color: #FF3A70;
}




/* -------------------------------------section1------------------------------------- */

.proFlex{
    display: flex;
}
.left-{
    margin-left: 170px;
    width: 200px;

}
div .left- img{
    width: 200px;
}





.mid-{
margin-left: 15px;
margin-right: 15px;
}


div .mid- img{
    width: 600px;
}

.right-{

  
    width: 200px;
}





/* ------------------------------------------text on image--------------------------------- */

 .containeron {
    position: relative;
    background-color: white;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    height: 150px;
    width: 450px;
    background-color: white;
    cursor: pointer;
  } 

  

/* ---------------------------------------------------banner----------------------------------- */

.rightt a{
    color: black;
}

.lastdive{
   background-color: black;
    margin-bottom: 5rem;

}



.leftt{
    float: left;
}
.rightt{
    float: right;
}
.lastdive::after{
    content: "";
    display: block;
    clear: both;

}



.leftt p{
    margin: 0px auto;
    padding-left: 2rem;
    padding-top: 3rem;
    color: white;
    
}

.ctc-btn{
    background-color: #FFA900;
    height: 150px;
    width: 200px;
    text-align: center;
    padding-top: 4rem;
    margin: 0.5rem;
    font-weight: 1000;
    cursor: pointer;
}






/* -------------------------------------------------section3------------------ */

.containeron1 {
    position: relative;
    background-color: white;
  }
  .bottom-left1 {
    position: absolute;
    bottom: 150px;
    height: 100px;
    width: 250px;
    background-color: white;
    margin-left: 175px;
    cursor: pointer;
  } 
  
  .img-section3{
      width: 400px;
      object-fit: cover;
      margin-left: 170px;
  }

  #blackdiv{
      width: 200px;
      margin-left: 70px;
      height: 35vh;
      /* border: 2px solid red; */
      color: white;
      background-color: black;
      text-align: center;
      cursor: pointer;
  }

  /* -----------------------------------------------footer-------------------------------------- */

  footer{
    height: 50vh;
    background-color:#2D0023;
    padding-top: 30px;
    color: white;
    
  }

  footer li{
      list-style-type: none;
      padding-bottom: 5px;
      cursor: pointer;
  }

  footer li i:hover{
      color: aqua;
  }


  /* ----------------------------------------------------banner2---------------------------------- */

  .afterline::after{
      content: "";
      display: block;
      border-bottom: 4px solid #FF3A70ed;
      width: 65px;
  }



  .advice{
    
      display: inline;
      background-color: lightgray;
      margin-left: 170px;
      height: 30vh;
      /* border: 2px solid green; */
      padding: 10px 70px 10px 10px;
      cursor: pointer;

  }